<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
        <title>Giraffe</title>
    </head>
    <body>
        <noscript>Enable Javascript to use Giraffe.</noscript>
        <div id="root"></div>
    </body>
</html>
